body {  
    display: grid;
    place-items: center;
  }
  h1 {
    background: white;
    
    text-align: center;
   
  }
  span {
    display: block;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
  }
  .button1{
      width: 400px;
      height: 50px;
      border-radius: 50px;
  }